<h1> Edit Mining Contract Details</h1>
<div class="col-md-10 col-md-offset-1">

 <div class="new-contract-form">

  <% if user_signed_in? && current_user.id == @contract.user_id %>
      <%= simple_form_for(@contract, html: { multipart: true }) do |f| %>
              
        <%= f.select :category_id, @categories %>
        <%= f.input :title, label: "Contract Title" %>
        <%= f.input :description %>
        <%= f.input :owner %>
        <%= f.input :price %>
        <%= f.label :picture, "Choose Image" %>
        <%= f.file_field :picture %>
        <%= f.button :submit %>

   <% else %> 
  <%= redirect_to root_path %>
<% end %>

  <div>
</div>