<div class="row">
       <div class="col-md-4">
       <% if @contract.picture? %>
          <%= image_tag @contract.picture.url, class: "contract-show" %> 
       </div>
       <% end %>

        <div class="col-md-8">

          <div class="contract-info">
              <h2 class="contract-title"><%= @contract.title %></h2>
              <h3 class="contract-owner"><span><em> Please contact:  </em></span><%= @contract.owner %></h3>
              <h4 class="contract-owner"><%= @contract.category.algo %></h4>
              <p class="contract-desc"><%= @contract.description %></p>  
          </div>

          <p class="mt-5">
                            <p class="contract-owner">Price: $<%= @contract.price %></p>
                            <% if user_signed_in? && @contract.user.id != current_user.id %>
                                      <%= form_tag charges_path do %>
                                                <%= hidden_field_tag "contract_id", @contract.id %>

                                                <article>
                                                  <% if flash[:error].present? %>
                                                    <div id="error_explanation">
                                                      <p><%= flash[:error] %></p>
                                                    </div>
                                                  <% end %>
                                                </article>

                                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                                        data-description="<%= @contract.title %>"
                                                        data-amount="<%= (@contract.price) * 100 %>"
                                                        <% if user_signed_in? %>
                                                          data-email="<%= current_user.email %>"
                                                        <% end %>
                                                        data-locale="auto">
                                                </script>
                                      <% end %>
                            <% elsif user_signed_in? && @contract.user.id = current_user.id %>

                                <div class="links btn-group">
                                          <%= link_to "Edit", edit_contract_path(@contract), class: "btn btn-custom" %>
                                          <%= link_to "Delete", contract_path(@contract), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
                                </div>
                                <% else %>
                                <strong class="contract-owner">Please register or login to purchase</strong>
                            <% end %>
                </p>
        
        </div>
</div>



<div class="row">
  <div class="col-md-12">
     <div class="feedbacks">
       <h1> Feedbacks </h1>
         <%= render @contract.feedbacks %>
         <div>
            <% if user_signed_in? %>
               <% if @contract.user_id != current_user.id %>
                  <%= link_to "Add Feedbacks", new_contract_feedback_path(@contract), class: "btn-custom"%>
               <% end %>
            <% end %>
         </div>
    </div>
  </div>
</div> 

<div class="links btn-group">
   <% if user_signed_in? %>
     <% if @contract.user_id == current_user.id %>
        <%= link_to "Edit", edit_contract_path(@contract), class: "btn btn-custom" %>
        <%= link_to "Delete", contract_path(@contract), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
     <% end %>
   <% end %>
</div>
