<h2><%= @contract.title %></h2>
<h3> Please contact:  <%= @contract.owner %></h3>
<h4><%= @contract.category.algo %></h4>
<p><%= @contract.description %></p>  


<div class="links btn-group">
   <% if user_signed_in? %>
     <% if @contract.user_id == current_user.id %>
        <%= link_to "Edit", edit_contract_path(@contract) %>
        <%= link_to "Delete", contract_path(@contract), method: :delete, data: { confirm: "Are you sure?" } %>
     <% end %>
   <% end %>
</div>
